{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'homepage/style.css' %}" />


<!DOCTYPE html>
<html>
<head>


</head>
<body>
<div style="position:relative;">
  <div style="color:#ddd;background-color:white;text-align:center;padding:5px 80px;">
    <h1 style="color:#000">Welcome</h1>
  </div>
</div>
<div class="bgimg-1">
  <div class="caption">
    Hey,<br>This is my first Django and CSS powered project.<br>Scroll down to view more....
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:5px 80px;">
    <h1>PROJECTS</h1>
  </div>
</div>


<div class="bgimg-2">
  <div class="caption" style="margin-left:10%">
  	<ul>
	<li>Made a Maze Following Robot using Dijkstra's Algorithm</li>
	<li>Made this Website using Django and CSS</li>
	<li>Made a High Capacity Portable Water carrying Tank in Mechanical Workshop</li>
	</ul>
  
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:5px 80px;">
    <h1>ACHIEVEMENTS</h1>
  </div>
</div>

<div class="bgimg-3">
  <div class="caption">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:5px 80px;">
    <h1>Currently Learning</h1>
  </div>
</div>
<div class="bgimg-4">
  <div class="caption" style="margin-left:10%;margin-right:40%">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </div>
</div>
<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:5px 80px;">
    <h1>Contact Info.</h1>
  </div>
</div>
<div class="bgimg-5">
  <div class="caption">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
	<br>
	<a href="/contactme">Click here to send me a message.</a>
  </div>
</div>


</body>
</html>
